body{
    justify-content: center;
    text-align: center;
    background: url(Bg.jpg);
}

h1{
    color: white;
}

.container1{
    background-color: rgb(192, 192, 192, 0.9);
    background-blend-mode: overlay;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid; 
}

.container2{
    background-color: rgb(192, 192, 192, 0.9);
    background-blend-mode: overlay;
    padding: 20px;
    margin-left: auto;
    margin-right: auto; 
    border: 2px solid; 
}

.buttonoutput{
    background-color: black; 
    color: white;
    padding: 30px;
}

